---
layout: default
title: Hystreet | Where Technology Meets Tradition
description: A software platform that any agent can use to offer the advantages of an online/hybrid service with the benefits of a highly experienced local agent.
section_id: home

services:
  -
    - title: White labelled for your brand
      icon: newspaper
      desc:
        Use your own logo, brand, colours, website, and domain to provide an online service that is truly yours.
      color: yellow
    - title: Standalone software
      icon: monitor
      desc:
        No need to download and install any software packages or manage confusing updates - Hystreet is managed over the web, leaving you free to focus on your service.
      color: yellow
    - title: Never lose to an online agent again
      icon: user
      desc:
        With a service and platform better than any online agent, vendors will have no reason to choose an online agent over their trusted local agent with a cutting-edge online platform.
      color: yellow
    - title: Easy to use
      icon: thumbs-up
      desc:
        Developed by estate agents, for estate agents. Hystreet is designed to be simple to use for agents, vendors, and buyers, at every stage.
      color: yellow
    - title: Complete audit trail
      icon: search
      desc:
        Keep track of everything that happens with your sale, Hystreet keeps a full log of all of the actions.
      color: yellow
    - title: No need to change CRM
      icon: logout
      desc:
        Hystreet connects with your website at a few key points, making sure it can integrate with any existing website or CRM.
      color: yellow

---

<script>
fbq('track', 'ViewContent', {
content_ids: ['0001'],
content_type: 'home'
});
</script>

<div class="full hero">
<div class="hero-content">
  <div class="row">
          <div class="large-6 columns left style="color: #FFFFFF;text-transform: none;">
            <h1 class="homepage-h1" style="/* position: relative; */color: #FFFFFF;">Where Technology Meets Tradition</h1>
            <p style="font-size: 1.25rem; color: #FFFFFF">The automated online estate agency software platform that estate agents can use to offer their clients the advantages of an online or hybrid service. Built by estate agents for estate agents. </p>
          </div>
          <div class="large-6 columns right" style="margin-top: 1rem;">
            <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class="embed-container"><iframe src="https://player.vimeo.com/video/228631731" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
          </div>
        </div>
		</div>
		 <a href="#arrow" class="banner__arrow" data-behaviour="scroll-to" id="arrow"></a>
</div>

									    
										    
<div class='full'>
  <div class='row'>
	      <div class='large-6 columns left special-title-full' id='what-is-hystreet'>
		            <h2 style="margin-bottom: 30px;">What is Hystreet?</h2>
				<p>
				Hystreet has been built "by estate agents for estate agents". Our unique technology allows you to offer an online or hybrid service whilst offering the quality of service of a traditional high street firm. Unlike other estate agent software, Hystreet allows you to promote your own brand, not someone else’s.
				</p>
				<p>
				The original aim of Hystreet was to build an online sales platform that allows agents to offer a truly 24-7 service, something which client's now expect.
				</p>
				<p>
				Once implemented, Hystreet is completely white labelled, using your branding guidelines and colour palettes. It has all the features required to offer a service that surpasses that of any leading online agent.
				</p>
	  </div>
  <div class='large-6 columns right special-title text-center'>
	  <img src="/images/iphone.png" style="height: 450px;">
  </div>  
</div>
</div>

{% include clients.html %}	

{% include whys.html %}


{% include demo-slip.html %}


<div class="full whys-bg">
  <div class="row">
    <div class="special-title centered-text">
      <h2>Why Choose Hystreet?</h2>
      <p>Hystreet is a revolutionary product that offers a true 24/7 online service to your customers.</p>
      <p class="shortline"></p>
    </div>
    <div class="two spacing"></div>
  </div>

  
    <div class="row">
      
        <div class="medium-4 large-3 columns icon-text" style="
">
          <i class="icon-newspaper yellow"></i>
          <h3>White labelled for your brand</h3>
          <p>Use your own logo, brand, colours, website, and domain to provide an online service that is truly yours.</p>
        </div>
      
        <div class="medium-4 large-6 columns icon-text">
		<div class="spacing"></div>
        </div>
      
        <div class="medium-4 large-3 columns icon-text">
          <i class="icon-monitor yellow"></i>
          <h3>Standalone software</h3>
          <p>No need to download and install any software packages or manage confusing updates - Hystreet is managed over the web, leaving you free to focus on your service.</p>
        </div>
      
        <div class="medium-4 large-3 columns icon-text">
          <i class="icon-user yellow"></i>
          <h3>Never lose to an online agent again</h3>
          <p>Vendors have no reason to choose an online agent over their a local agent with an online platform.</p>
        </div>
      
        <div class="medium-4 large-6 columns icon-text">
		<div class="spacing"></div>
        </div>
      
        <div class="medium-4 large-3 columns icon-text">
          <i class="icon-thumbs-up yellow"></i>
          <h3>Easy to use</h3>
          <p>Developed by estate agents, for estate agents. Hystreet is designed to be simple to use for agents, vendors, and buyers, at every stage.</p>
        </div>
      
        <div class="medium-4 large-3 columns icon-text">
          <i class="icon-search yellow"></i>
          <h3>Complete audit trail</h3>
          <p>Keep track of everything that happens with your sale, Hystreet keeps a full log of all of the actions.</p>
        </div>
      
        <div class="medium-4 large-6 columns icon-text">
		<div class="spacing"></div>
        </div>
      
        <div class="medium-4 large-3 columns icon-text">
          <i class="icon-logout yellow"></i>
          <h3>No need to change CRM</h3>
          <p>Hystreet connects with your website at a few key points, making sure it can integrate with any existing website or CRM.</p>
        </div>
  
 </div>
    
  
</div>
				       
{% include testimonials.html bg="bg-2" %}
