---
layout: default
title: Hystreet - Where Technology Meets Tradition
section_id: home

milestones:
  - from: 0
    to: 4133
    title: Code uploads
  - from: 0
    to: 726
    title: Cups of coffee consumed
  - from: 0
    to: 59
    title: Chip shop dinners
  - from: 0
    to: 121
    title: Articles published

bars:
  - title: Web design
    percent: 84
  - title: Web development
    percent: 95
  - title: Site management
    percent: 70
  - title: Branding
    percent: 61

members: 
  - 
    desc: "Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum."
    image: Awais.jpg
    name: "Awais Ahmad"
    position: "Founder & CEO"
  - 
    desc: "Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum."
    image: Kevin.jpg
    name: "Kevin Carmody"
    position: "Chief Technical Officer"
  - 
    desc: "Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum."
    image: John.jpg
    name: "John Weaver"
    position: "Chief Operations Officer"
  - 
    desc: "Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum."
    image: Abdul.jpg
    name: "Abdul Hussain"
    position: "Strategic Development Director"
  - 
    desc: "Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum."
    image: Adam.jpg
    name: "Adam Laws"
    position: "Regional Sales Manager"
  - 
    desc: "Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum."
    image: Dan.jpg
    name: "Dan Reasons"
    position: "Regional Sales Manager"
  - 
    desc: "Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum."
    image: Pete.jpg
    name: "Peter Chatterley"
    position: "Talent Finder"
  - 
    desc: "Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum."
    image: Mike.jpg
    name: "Mike Elsmore"
    position: "Software Engineer"
  - 
    desc: "Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum."
    image: Nuno.jpg
    name: "Nuno Ferreira"
    position: "Software Engineer"
  - 
    desc: "Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum."
    image: Rui.jpg
    name: "Rui Malheiro"
    position: "Software Engineer"
  - 
    desc: "Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum."
    image: Robin.jpg
    name: "Robin Lloyd"
    position: "Front End Developer"
  - 
    desc: "Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum."
    image: Dylan.jpg
    name: "Dylan Kinsella"
    position: "Digital Strategist"

---
<script>
fbq('track', 'ViewContent', {
content_ids: ['0003'],
content_type: 'aboutus'
});
</script>
<div class="full about-hero" style="background: none";>
<div class="vid-container-1">
	<div style="vid-container-2">
		<video src="/images/about-bg.mp4" autoplay="" loop="" muted="" class="vid-about-us">			</video>
	</div> 
  </div>
<div class="hero-content">
  <div class="row">
          <div class="large-12 columns layout-text left style=" color:="" #ffffff;text-transform:="" none;"="">
		<p style="margin-top: 8px;color: #FFF;font-size: 329%;font-weight: bolder;">Become part of our family by joining our team</p>
                                         <a class="button" href="####">View Jobs</a>
          </div>

        </div>
		</div>
</div>
<div class='full'>
  <div class='row'>
    <div class='special-title centered-text'>
	<h1>About us</h1>
      <p>
        Hystreet was developed as a response to the growing market share of online agents. Recognising that online agents were being instructed to sell more and more properties, taking instructions away from good high street agents, and yet failing to sell these properties, something needed to be done to give traditional estate agents a way to fight back against online agents and win back the business of tech-savvy home sellers.
      </p>
      <p>
        We are a team of industry-leading tech experts and estate agents, that have built a cutting edge platform with estate agents in mind.
      <p>
        Hystreet is now a state of the art system that fits around your estate agency, offering support where you need it most in order to offer an online service that is truly your own.
      </p>
  </div>
</div>
  
 <div class='two spacing'></div>  
  
<div class='full dark-blue no-padding' style="background-image: url(../images/hero-hex-bg-trans.png); background-size: 100%;">
  <div class='two spacing'></div>
  <div class='row'>
    <div class='call-to-action light layout-text'>
      <div class='small-12 medium-9 large-9 columns'>
        <p style="margin-top: 8px;">Do something you love, send us your CV today</p>
      </div>
      <div style="margin-top: 10px;" class='small-12 medium-3 large-3 columns'>
        <a class='button' href='mailto:careers@hystreet.co.uk'>Send us your CV</a>
      </div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>
  <div class='two spacing'></div>
  <div class='row'>
    <div class='special-title centered-text'>
      <h2>Meet the Team</h2>
      <p>
        We're a friendly bunch of estate agents, property experts, and tech wizards with a common goal of making it much easier for high street agents to fight back against online estate agents.
      </p>
  </div>
</div>
</div>

<div class='members'>
  <div class='full no-padding'>
    <div class='row'>
      {% for member in page.members %}
        <div class='medium-4 large-4 columns'>
          <div class='member layout-text {{active_class}}'>
            <img src='{{site.url}}/images/{{member.image}}'>
            <h3>{{member.name}}</h3>
            <p class='position'>{{member.position}}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
   <div class='two spacing'></div> 
</div>

{% include team-thoughts.html bg="bg-team" %}
