<div class='full dark-blue no-padding' style="background-image: url(../images/hero-hex-bg-trans.png); background-size: 100%;">
  <div class='two spacing'></div>
  <div class='row'>
    <div class='call-to-action light layout-text'>
      <div class='small-12 medium-9 large-9 columns'>
        <p style="margin-top: 8px;">See it working today and stop losing online instructions.</p>
      </div>
      <div style="margin-top: 10px;" class='small-12 medium-3 large-3 columns'>
        <a class='button' href='/book-demo/'>See it work</a>
      </div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>
