<div class='full'>
  <div class='row'>
    <div class='large-10 small-centered columns'>
      <div class='special-title layout-text'>
        <h2>Get In touch with us</h2>
 <div class="contact-container">
    <div class="contact-item">
        <a href="mailto:hello@hystreet.co.uk">
            <i class="icon-mail" style="color: #e63375;"></i>
            <p>hello@hystreet.co.uk</p>
        </a>
    </div>
    <div class="contact-item">
        <a href="tel:0203 908 3000">
            <i class="icon-phone" style="color: #e63375;"></i>
            <p>0203 908 3000</p>
        </a>
    </div>
</div>      </div>
    </div>
  </div>
</div>
<div class='full yellow'>
  <div class='form'>
    <div class='row'>
      <div class='medium-6 large-6 columns'>
        <input placeholder='NAME' type='text'>
        <input placeholder='EMAIL' type='text'>
        <input placeholder='SUBJECT' type='text'>
      </div>
      <div class='medium-6 large-6 columns'>
        <textarea placeholder='MESSAGE'></textarea>
        <input class='button' type='submit'>
      </div>
    </div>
  </div>
</div>
