--- 
bars: 
  - 
    percent: 84
    title: "Web design"
  - 
    percent: 95
    title: "Web development"
  - 
    percent: 70
    title: "Site management"
  - 
    percent: 61
    title: Branding
layout: default
members: 
  - 
    desc: "Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum."
    image: Awais.jpg
    name: "Awais Ahmad"
    position: "Founder & CEO"
  - 
    desc: "Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum."
    image: Kevin.jpg
    name: "Kevin Carmody"
    position: CTO
  - 
    desc: "Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum."
    image: John.jpg
    name: "John Weaver"
    position: COO
  - 
    desc: "Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum."
    image: Abdul.jpg
    name: "Abdul Hussain"
    position: "Strategic Development Director"
  - 
    desc: "Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum."
    image: Melissa.jpg
    name: "Melissa Pearson"
    position: Accounts
  - 
    desc: "Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum."
    image: Adam.jpg
    name: "Adam Laws"
    position: "Regional Sales Manager"
  - 
    desc: "Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum."
    image: Joe.jpg
    name: "Joe Phillips"
    position: "Regional Sales Manager"
  - 
    desc: "Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum."
    image: Pete.jpg
    name: "Pete Chatterley"
    position: "Talent Finder"
  - 
    desc: "Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum."
    image: Mike.jpg
    name: "Mike Elsmore"
    position: "Software Engineer"
  - 
    desc: "Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum."
    image: Nuno.jpg
    name: "Nuno Ferreira"
    position: "Software Engineer"
  - 
    desc: "Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum."
    image: Rui.jpg
    name: "Rui Malheiro"
    position: "Software Engineer"
  - 
    desc: "Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum."
    image: Robin.jpg
    name: "Robin Lloyd"
    position: "Front End Developer"
  - 
    desc: "Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum."
    image: Dylan.jpg
    name: "Dylan Kinsella"
    position: "Digital Strategist"
section_id: home
title: "Hystreet - Where Technology Meets Tradition"
---

<div class='full'>
  <div class='row'>
    <div class='special-title centered-text'>
      <i class='icon-users'></i>
      <h2>Meet the Team</h2>
      <p>
        Hystreet is a team of individuals who are passionate about bringing the estate agent industry into the 21st century. We've got a combined experience of over 40 years in the property industry, during which time our team have won numerous national awards.
      </p>
      <p>
        We're a friendly bunch of estate agents, property experts, and tech wizards with a common goal of making it much easier for high street agents to fight back against online estate agents.
      </p>
  </div>
</div>
</div>
    
    <div class='members'>
  <div class='full no-padding'>
    <div class='row'>
      {% for member in page.members %}
        <div class='medium-3 large-3 columns'>
          <div class='member layout-text {{active_class}}'>
            <img src='{{site.url}}/images/{{member.image}}'>
            <h3>{{member.name}}</h3>
            <p class='position'>{{member.position}}</p>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class='three spacing'></div>
    <div class='three spacing'></div>
  </div>
</div>

{% include demo-slip.html %}

{% include get-in-touch.html %}

