---
layout: default
title: Features &amp; Benefits | Hystreet
description: Hystreet is capable and flexible enough to handle any level of service, from a fully-managed estate agency progress, to one managed online by the vendor.
section_id: home

---
<script>
fbq('track', 'ViewContent', {
content_ids: ['0002'],
content_type: 'featuresbenefits'
});
</script>

<div class='full'>
  <div class='row'>
    <div class='special-title centered-text'>
      <h1>Features &amp; Benefits</h1>
      <p> 
        However you need to use Hystreet to support your business, our platform is capable and flexible enough to handle any level of service, from a fully-managed estate agency progress, to one managed online by the vendor. Whichever solution you need, we're ready to provide it.
      </p>
        <div class="large-6 columns left layout-text">
          <img class="fb-icon text-center" src="/images/agents2.png">
            <br>
          <a class="button button-blue" href="#agents" style="top: 15px;">
                           Benefits for Agents
          </a>
      </div>
      <div class="large-6 columns right layout-text">
        <img class="fb-icon text-center" src="/images/customer2.png">
        <br>
        <a class="button button-blue" href="#customers" style="top: 15px;">
                           Benefits for Customers
          </a>
      </div>
    </div>
</div>
</div>
{% include demo-slip.html %}
<div class='full'>
  <div class='row'>
    <div class='special-title centered-text'>
      <h2>
        Features
      </h2>
      <div class="spacing"></div>
      <p>
      </p>
      <h3>
        Book appointments online
      </h3>
      <p>
        All appointments can be booked online at any time. Customers can book valuations directly into your agents’ diaries with enough notice to make sure you can still get your comparisons and other pre-valuation preparation out of the way first. 
      </p>
      <p>
        They can then book subsequent appointments in the system, including launch appointments. Buyers can then book appointments directly into the vendor’s diary, or the agent’s if they are managing viewings for the customer.
      </p>
            <p>
                    </p>
      <h3>
        Manage sales online
      </h3>
      <p>
        Getting-to-market checks are also handled over the web. We have partnered with Experian® to provide fully AML compliant, automated, online ID checks. These ID checks are submitted by the vendor via our online platform, and only take a couple of minutes to complete.
      </p>
      <p>
        The system also handles property fact finding, collecting all of the data and documentation needed for the sale in one easily accessible place for your team to approve without the hassle of emails, letters, and scans.
      </p>
            <p>
                    </p>
      <h3>
        Offer negotiations
      </h3>
      <p>
        Offer negotiations happen transparently between the buyer and seller, with position information being made available to the seller on every offer made, meaning they can make an informed decision and get the best deal possible. 
      </p>
      <p>
        Your agents are kept up to date every step of the way, and can still get in touch to help out at any time.
      </p>
            <p>
                    </p>
      <h3>
        Finalising sales
      </h3>
      <p>
When it comes to the last stages of the sale the system continues to save you and your team time throughout the process.       </p>
      <p>
        Information of buyers’ and sellers’ legal representatives is collected, as are additional chain details if needed. 
      </p>
      <p>
        The system also collects documentation and proof of funds, including mortgage approval documents and proof of cleared funds.
      </p>

      <h2 id="agents">
        Benefits for Agents
      </h2>
      <ul>
        <li>
          Never lose an instruction to an online agent again.
        </li>
        <li>
          Keep all your fees; Hystreet have no financial interest in any of your transactions
        </li>
        <li>
          Promote your business or your new brand to a new breed of tech savvy customers.
        </li>
        <li>
          Transform your organisation to a 24/7 operation.
        </li>
        <li>
          Have an online, fixed price offering, a traditional commission as before, or any level in between.
        </li>
        <li>
          Property isn't selling on a fixed price deal? Simply switch to a traditional contract and show your customers how you really earn your commission.
        </li>
        <li>
          Client decides to pull out of the sale, or go with another agent? You will still retain the initial fixed price fee.
        </li>
        <li>
          Flex your pricing up or down as you wish and sell add on services to meet your clients needs.
        </li>
        <li>
          Maintain your existing relationships with surveyors and mortgage brokers.
        </li>
        <li>
          Setting up an agency in a new area is expensive; not with Hystreet. Target listings in another postcode; no premises and no additional agents required to expand your reach effortlessly.
        </li>
        <li>
          Use voucher codes to promote special offers and discounts.
        </li>
        <li>
         No need to change your existing CRM as the system is standalone.
        </li>
        <li>
         Simple integration with your website through three simple and seamless access points
        </li>
        <li>
          Viewings and valuations can be booked online instantaneously using our live diary system.
        </li>
        <li>
          Gather vital, 100% honest feedback, direct from the viewer to vendor, automatically after every viewing.
        </li>
        <li>
          Undertake property fact finds and ID checks by client self service, including recent updates provided by the 4MLD, all automated and all online.
        </li>
        <li>
         Negotiations can be carried out between seller and buyer through Hystreet, with the agent only being involved if they feel it beneficial.
        </li>
        <li>
          Multiple levels of control, from agent, branch manager to network of branch control.
        </li>
        <li>
          Completely white labelled; all you clients will see is your brand, even on the URL.
        </li>
        <li>
          Keep a close eye on every stage of a sale, with a full audit trail.
        </li>
      </ul>
        <p>
          All this and more allows agents to concentrate on what differentiates them from their competitors, rather than the future of their business. 
        </p>

      <h2 id="customers">
        Benefits for Customers
      </h2>
        <ul>
          <li>
            They pay an equivalent online, fixed fee to the estate agent that they know locally, and trust.
          </li>
          <li>
            Take reassurance that the agent they are dealing with is an expert of the local market, which will expedite the sale of their property, through correct pricing.
          </li>
          <li>
            10 month finance is available on the fee, with no detriment or recourse to the agent.
          </li>
          <li>
            If the vendor needs assistance they can purchase add-ons to the service or switch back to the traditional commission model. This is something that only a hybrid agent can offer!
          </li>
          <li>
            The vendor and/or buyer have busy lifestyles or unusual availability for viewings? No problem, everyone's needs can be catered for with the online booking service; no more interruptions at work.
          </li>
          <li>
            Get updates on their property sale or purchase from any device, from anywhere. All you need are the login details and internet connection.
          </li>
          <li>
            Quick and simply system to use, first time users regularly comment on the ease of use of Hystreet.
          </li>
          <li>
            Complete transparency of the real estate sales process
          </li>
          <li>
            Returning customer can simply log in, no need to re-register.
          </li>
      </ul>

  </div>
</div>
</div>

{% include whys.html %}

{% include demo-slip.html %}

