---
layout: default
title: Why Choose Hystreet? | Hystreet
description: Why choose Hystreet? Hystreet allows high street agents to offer an online service that superceeds the capabilities of leading online estate agents.
section_id: home

services:
  -
    - title: White labelled for your brand
      icon: newspaper
      desc:
        Use your own logo, brand, colours, website, and domain to provide an online service that is truly yours.
      color: yellow
    - title: Standalone software
      icon: monitor
      desc:
        No need to download and install any software packages or manage confusing updates - Hystreet is managed over the web, leaving you free to focus on your service.
      color: yellow
    - title: Never lose to an online agent again
      icon: user
      desc:
        With a service and platform better than any online agent, vendors will have no reason to choose an online agent over their trusted local agent with a cutting-edge online platform.
      color: yellow
    - title: Easy to use
      icon: thumbs-up
      desc:
        Developed by estate agents, for estate agents. Hystreet is designed to be simple to use for agents, vendors, and buyers, at every stage.
      color: yellow
    - title: Complete audit trail
      icon: search
      desc:
        Keep track of everything that happens with your sale, Hystreet keeps a full log of all of the actions.
      color: yellow
    - title: No need to change CRM
      icon: logout
      desc:
        Hystreet connects with your website at a few key points, making sure it can integrate with any existing website or CRM.
      color: yellow

---
<script>
fbq('track', 'ViewContent', {
content_ids: ['0005'],
content_type: 'whyhystreet'
});
</script>

<div class='full'>
  <div class='row'>
    <div class='special-title centered-text'>
      <h1>Why choose Hystreet?</h1>
      <p>
        Hystreet is a revolutionary new product unlike any other that has been featured in leading industry publications such as Estate Agent Today, Property Industry Eye, Estate Agent Networking, and The Negotiator. Hystreet allows high street agents to offer an online service that not only competes with, but superceeds the capabilities of leading online estate agents.
      </p>
      <p>
        If you are an estate agent losing instructions to online agents, or simply want to take your business to the next level, then book an online demo to see what Hystreet can do for you.
      </p>
  </div>
</div>
</div>
{% include demo-slip.html %}
<div class='full'>
  <div class='row'>
    <div class='special-title centered-text'>
      <h2>
        Keep your own fees
      </h2>
      <p>
        We take no cut, fee, or percentage from whatever you decide to charge your customers – your fee is yours to keep. We do not dictate any fees at all, and you can charge as much or as little as you desire in order to remain competitive and compete with your industry competition.
      </p>
      <p>
        The fees you charge to your customers using Hystreet go straight through to you – including any add-on fees you want to charge. We don’t hold on to them in anyway, as it’s a direct agreement between yourselves and your card payment provider.
      </p>
      <p>
        If your customers don’t sell through the online service, or don’t have the time to manage their own sale, you can upgrade them to your full, traditional service. You can get two bites of the cherry, and two chances to sell your property.
      </p>
      <div class='two-spacing'></div>
      <h2>
        Compete with online agents
      </h2>
      <p>
        Hystreet gives you a direct competition to online agencies. In addition to the lower cost and online system, you have the ability to provide your customers with the strength of an authoritative, local brand. Whether you use your existing high street brand, or your own new online brand, you retain full control over your brand, and can ensure users feel that they are getting the local expertise they want when it comes to selling your home.
      </p>
  </div>
</div>
</div>

<div class="full white">
  {% for row in page.services %}
    <div class="row">
      {% for service in row %}
        <div class='medium-4 large-4 columns icon-text'>
          <i class='icon-{{service.icon}} {{service.color}}'></i>
          <h3>{{service.title}}</h3>
          <p>{{service.desc}}</p>
        </div>
      {% endfor %}
    </div>
    {% unless forloop.last %}
      <div class="spacing"></div>
    {% endunless %}
  {% endfor %}
</div>

{% include demo-slip.html %}
