---
layout: blog
section_id: blog
---

{{page.categories}}
<div class="topnav"><a href="/news">News</a></div>
<div class="full">
<h1 class="post-title">
  <a href='{{page.url}}'>{{ page.title }}</a>
</h1>
</div>
<div class='post'>
  <img src="{{ post.image }}">
  <div class='info'>
    <p>
      By
      <span class='author'>{{ page.author }}</span>
    |
    <span class='month'>{{ page.date | date: "%h" }}</span>
    <span class='date'>{{ page.date | date: "%d" }}</span>
    </p>
  </div>
  <div class='content'>
    {{ content }}
  </div>
</div>

<a id='comments'></a
